@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<link rel="stylesheet" href="~/css/login.css" />
<!-- MONO CSS -->
<link id="main-css-href" rel="stylesheet" href="~/css/style.css" />

<div class="form-box body-login">
    <div class="header-text">
        RG ADVISORY GROUP
    </div>

    <div class="subtitle-header">
        Recuperar Contraseña
    </div>
   
    <form>

        <div class="form-group">
            <label for="email2">Correo</label>
            <input type="email" class="form-control" id="email2" placeholder="test@gmail.com">
        </div>

        <br />

        <button type="button" class="btn btn-primary btn-pill mb-4" onclick="recoverPassword()">Enviar</button>

    </form>

</div>

<script src="~/scripts/auth.js"></script>